
/manage.py
/wsgi.py
/passenger_wsgi.py

mpk/settings/*
!mpk/settings/base.py
!mpk/settings/*.template

mpk/resources/*
!mpk/resources/.keep
!mpk/resources/routes/
mpk/resources/routes/*
!mpk/resources/routes/.keep

/public/media/

*.pyc
__pycache__/

/env/

