{% extends "common/base.html" %}

{% load static %}
{% load common_tags %}


{% block content %}

	<form method="post" class="form-mpk" action="{% url 'mpk:home' %}">
		{% csrf_token %}

		<div class="row">
			<table class="table table-condensed table-no-border width-auto table-td-vertical-align-middle no-margin-bottom">
				<tr>
					<td>{{form.line.label_tag}}</td>
					<td>{{form.line}}</td>
					<td class="width-empty-long"></td>
				</tr>
				<tr>
					<td><label>Date:</label></td>
					<td>
						<table>
							<tr>
								<td class="padding-b-2 padding-r-5"><div data-toggle="tooltip" title='yyyy-mm-dd HH:MM or offset from date-to ("-(x)hours")'><span class="glyphicon glyphicon-info-sign glyphicon-margin" aria-hidden="true"></span></div></td>
								<td class="padding-b-2"><label>From:</label></td>
								<td class="padding-left-st padding-b-2">{{form.date_from}}</td>
							</tr>
							<tr>
								<td class="padding-b-2 padding-r-5"><div data-toggle="tooltip" title='yyyy-mm-dd HH:MM or "now"'><span class="glyphicon glyphicon-info-sign glyphicon-margin" aria-hidden="true"></span></div></td>
								<td><label>To:</label></td>
								<td class="padding-left-st">{{form.date_to}}</td>
							</tr>
						</table>
					</td>
				</tr>
				{% if form.errors %}
					{% include "common/form_errors.html" with form=form colspan=3 only %}
				{% endif %}
				<tr>
					<td></td>
					<td>
						<input type="submit" value="Submit" class="btn btn-primary"/>
					</td>
				</tr>
			</table>
		</div>
	</form>


	<div class="mpk-result">
		{% if was_processed %}
			{% if success %}
				<div>
					<form method="post" action="{% url 'mpk:home' %}">
						{% csrf_token %}
						<input type="hidden" name="line" value="{{line}}"/>
						<input type="hidden" name="date_from" value="{{prev_plot_from}}"/>
						<input type="hidden" name="date_to" value="{{prev_plot_to}}"/>
						<input type="submit" value="❮ Previous" class="btn btn-default prev-plot"/>
					</form>
					<form method="post" action="{% url 'mpk:home' %}">
						{% csrf_token %}
						<input type="hidden" name="line" value="{{line}}"/>
						<input type="hidden" name="date_from" value="{{next_plot_from}}"/>
						<input type="hidden" name="date_to" value="{{next_plot_to}}"/>
						<input type="submit" value="Next ❯" class="btn btn-default next-plot"/>
					</form>
				</div>

				<a href="{{plot_path}}" target="_blank">
					<img src="{{plot_path}}" class="plot-href" style="width: 100%"/>
				</a>
			{% else %}
				<span class="error text-danger">Processing failed:<br/>{{error}}</span>
			{% endif %}
		{% endif %}
	</div>


	<div class="page-margin-bottom"></div>

{% endblock %}

