from .base import *
from .secrets_default import *


DEBUG =
LOCAL_MEDIA_SERVE =

ALLOWED_HOSTS = [
]

RUN_MOGRIFY =

GET_LOCATIONS_TIMEOUT_S =


# Logging
LOGGING['handlers']['default']['filename'] =
LOGGING['handlers']['get-locations-file']['filename'] =

